<% content_for :page_title do %>
  <%= I18n.t('spree.admin.tab.kustomer_entities') %>
  <small>- <%= I18n.t('spree.admin.kustomer.order_data_sent_to_kustomer') %></small>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_orders_index_search">
    <%= search_form_for [:admin, @search], url: admin_kustomer_entities_path do |f| %>
      <div class="row">
        <div class="col-3">
          <div class="field">
            <%= f.label :id %>
            <%= f.text_field :id_eq %>
          </div>
        </div>

        <div class="col-3">
          <div class="field">
            <%= f.label :sync_status %>
            <%= f.select :sync_status_eq, { 'Out of sync': 1, 'Processing': 2, 'In Sync': 3 }, { include_blank: 'Show All' }, { class: 'custom-select fullwidth' }  %>
          </div>
        </div>

        <div class="col-3">
          <div class="field">
            <%= f.label :last_result %>
            <%= f.select :last_result_eq, { 'Success': 1, 'Failed': 2 }, { include_blank: 'Show All' }, { class: 'custom-select fullwidth' }  %>
          </div>
        </div>

        <div class="col-3">
          <div class="field">
            <%= f.label :type %>
            <%= f.select :type_eq, { 'Order': 'Maisonette::Kustomer::Order', 'Customer': 'Maisonette::Kustomer::Customer' }, { include_blank: 'Show All' }, { class: 'custom-select fullwidth' } %>
          </div>
        </div>

        <div class="col-3">
          <div class="field">
            <%= f.label :kustomerable_type %>
            <%= f.select :kustomerable_type_eq, { 'Order': 'Spree::Order' }, { include_blank: 'Show All' }, { class: 'custom-select fullwidth' } %>
          </div>
        </div>

        <div class="col-3">
          <div class="field">
            <%= f.label :kustomerable_id %>
            <%= f.text_field :kustomerable_id_eq %>
          </div>
        </div>

        <div class="col-6">
          <div class="field">
            <%= f.label :order_number %>
            <%= f.text_field 'kustomerable_of_Spree::Order_type_number_eq' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div data-hook="admin_orders_index_search_buttons" class="form-actions">
            <%= button_tag I18n.t('spree.admin.kustomer.filter_results') %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<%= paginate @kustomer_entities, theme: "solidus_admin" %>

<% if @kustomer_entities.any? %>
  <table class="table" id="listing_orders" data-hook>
    <thead>
      <tr data-hook="admin_orders_index_headers">
        <th><%= sort_link @search, :id, I18n.t('spree.id') %></th>
        <th><%= sort_link @search, :created_at, I18n.t('spree.created_at') %></th>
        <th><%= sort_link @search, :updated_at, I18n.t('spree.updated_at') %></th>
        <th><%= sort_link @search, :type, I18n.t('spree.kustomer.type') %></th>
        <th><%= sort_link @search, :type, I18n.t('spree.kustomer.sync_status') %></th>
        <th><%= I18n.t('spree.admin.kustomer.order_number') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @kustomer_entities.each do |kustomer_entity| %>
      <tr data-hook="admin_orders_index_rows" class="state-<%= kustomer_entity.sync_status.downcase %> <%= cycle('odd', 'even') %>">
        <td><%= kustomer_entity.id %></td>
        <td><%= l(kustomer_entity.created_at, format: :long) %></td>
        <td><%= l(kustomer_entity.updated_at, format: :long) %></td>
        <td><%= kustomer_entity.type %></td>
        <td>
          <span class="label <%= "label-#{kustomer_entity.sync_status.downcase}" %>"><%= kustomer_entity.sync_status %></span>
        </td>
        <td>
          <%= link_to(kustomer_entity.kustomerable.number, edit_admin_order_path(kustomer_entity.kustomerable.number)) if kustomer_entity.kustomerable.present? %>
        </td>
        <td>
          <%= link_to_with_icon 'show', I18n.t('spree.admin.kustomer.details'), admin_kustomer_entity_path(kustomer_entity.id), class: 'fa fa-eye with-tip no-text', title: I18n.t('spree.admin.kustomer.details'), 'data-original-title': I18n.t('spree.admin.kustomer.details'), 'data-action': 'show' %>
          <%= link_to_with_icon 'send', I18n.t('spree.admin.kustomer.sync'), sync_admin_kustomer_entity_path(kustomer_entity.id), class: 'with-tip no-text', title: I18n.t('spree.admin.kustomer.sync'), 'data-original-title': I18n.t('spree.admin.kustomer.sync'), 'data-action': 'sync' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= I18n.t('spree.admin.kustomer.no_results') %>
  </div>
<% end %>

<%= paginate @kustomer_entities, theme: "solidus_admin" %>
