<div align="center" width="100%" bgcolor="#ffffff" style="background: #ffffff !important">
  <table width="600" align="center" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="background: #ffffff !important">
    <tr>
      <td width="75">&nbsp;</td>
      <td align="left">
        <font class="text">
          <% if @introduction[:user_name].blank? %>Hi<% else %>Dear <%= @introduction[:user_name] %><% end %>,
          <br/><br/><%= raw @introduction[:content] %>
          <% unless @introduction[:exclude_faq_paragraph].present? %>
            <br/><br/>
            If you have any additional questions, visit our
            <a href="<%= mail_url('/faq') %>" class="text__link">FAQs</a>
            for more details. You can also contact us by email at
            <a href="mailto:<%= store_email %>" class="text__link"><%= store_email %></a>
            or phone +1 (844)-624-7663.
          <% end %>
          <br/><br/>Love,
          <br/>Maisonette
          <br/>
        </font>
      </td>
      <td width="75">&nbsp;</td>
    </tr>
    <tr>
      <td align="center" height="40" colspan="3">&nbsp;</td>
    </tr>
    <% if @cta.present? %>
      <%= render partial: 'spree/shared/email/cta', locals: { cta: @cta } %>
      <tr>
        <td align="center" height="80" colspan="3">&nbsp;</td>
      </tr>
    <% end %>
  </table>
</div>
